# Synthea .dockerignore
# The MITRE Corporation

# Ignores all files that are not needed to run Synthea.
# This minimizes the number of files that are copied to
# build a new Synthea image.
.git
.gitignore

# Project directories
test
resources
!resources/fingerprint.png
output
coverage

# Project files
*.md
deploy.sh
.palate
.rubocop.yml
.travis.yml
.DS_Store

# Log files
*.log
