**/.DS_Store
.classpath
.project
.settings
.gradle
/build/**
bin/**

/.gradle/
/bin/

/output/

# don't commit the autobuilt version file
src/main/resources/version.txt

# H2 database files
**/*.mv.db
**/*.trace.db

# VS Code launch settings
.vscode/launch.test.json
.vscode/launch.json
.vscode/settings.json
.gitignore
