**/.DS_Store
.classpath
.project
.settings
.gradle
/nbproject/**
/build/**
bin/**

/.gradle/
/bin/

/output/
/out/

# don't commit the autobuilt version file
src/main/resources/version.txt

# don't commit the code maps
src/main/resources/map.json
src/main/resources/condition_code_map.json
src/main/resources/medication_code_map.json
src/main/resources/drg_code_map.json

# H2 database files
**/*.mv.db
**/*.trace.db

# VS Code launch settings
.vscode/launch.test.json
.vscode/launch.json
.vscode/settings.json
/build/
