<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 links">
        <div class="row">
          <div class="col-xs-5 col-xs-push-1 col-sm-push-0 links-one">
            <ul class="list-unstyled">
              <li>
                <a href="{{site.baseurl}}/#home">HOME</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/#about-landing">ABOUT</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/#technology-landing">TECHNOLOGY</a>
              </li>
            </ul>
          </div>

          <div class="col-xs-5 col-xs-push-2 col-sm-push-0 col-sm-6 links-two ">
            <ul class="list-unstyled">
              <li>
                <a href="{{site.baseurl}}/#open-source-landing">COLLABORATE</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/#contact-landing">CONTACT</a>
              </li>
            </ul>
          </div>
          
        </div>  
      </div>
      <div class="col-sm-6">
        <p class="logo">
          <a href="https://www.mitre.org/">
            <img src="{{site.baseurl}}/assets/img/MITRE.png" alt="MITRE Logo"> <span class="sr-only">MITRE Home Page</span>
          </a>
        </p>
        <p class="copyright">Copyright © <span id="curYear">2017</span> The MITRE Corporation | Approved for Public Release; Distribution Unlimited. Case Number 16&#8209;2025</p>
      </div>
    </div>
  </div>
</footer>
