<header>
  <nav class="navbar navbar-fixed-top" data-spy="affix" data-offset-top="20">
    <div class="container navbar-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
          <span style="font-size: 0; line-height: 0;"> Navigation </span>
          <i class="fa fa-2x fa-bars icon"></i>
        </button>
        <div class="logo-banner">
          <a href="{{site.baseurl}}/#home">
            <img class="large" src='{{site.baseurl}}/assets/img/logo/synthea_sprites-1-long-trans.png' alt='Synthea Logo'> 
            <img class="small" src='{{site.baseurl}}/assets/img/logo/synthea_sprites-1-print-trans.png' alt='Synthea Logo'> 
          </a>
        </div>
      </div>
      <div id="site-menu" class="navbar-collapse collapse" role="navigation">
        <ul class="nav navbar-nav">
          <!-- TODO: Make a header link for each section of the page -->
          <li class="scroll active">
            <a href="{{site.baseurl}}/#home">HOME</a>
          </li>
          <li class="scroll">
            <a href="{{site.baseurl}}/#about-landing">ABOUT</a>
          </li>
          <li class="scroll">
            <a href="{{site.baseurl}}/#technology-landing">TECHNOLOGY</a>
          </li>
          <li class="scroll">
            <a href="{{site.baseurl}}/#open-source-landing">COLLABORATE</a>
          </li>
          <li class="scroll">
            <a href="{{site.baseurl}}/#contact-landing">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>