<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO: Description of the website and keywords -->
    <meta name="description" content="Synthea is a Synthetic Patient Population Simulator that is used to generate the synthetic patients within SyntheticMass. Synthea outputs synthetic, realistic but not real patient data and associated health records in a variety of formats. Read our wiki for more information.">
    <meta name="keywords" content="Health data, Synthea, SHR, SyntheticMass, Standard Health Record Collaborative, FHIR, CCDA, Data Generation, Patient Simulation, Patient Data, HealthIT,Healthcare interoperability,Electronic Health Record,Electronic Medical Record,EMR,EHR,Synthetic Patient,SyntheticMass,MITRE, Open Source, MITRE Jobs, Open Source Software, OSS">

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:light">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:light">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/bootstrap.min.css">
    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/ripples.min.css">
    <!-- Font Awesome for Icons  -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome.min.css">
    <!-- Personal Styling -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/img/logo/favi-1/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/assets/img/logo/favi-1/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/img/logo/favi-1/favicon-16x16.png">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the p age via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Synthea by the Standard Health Record Collaborative</title>
</head>